# Core Django & REST Framework
asgiref
Django
djangorestframework
python-dotenv

# CORS Support
django-cors-headers

# Authentication & JWT
djangorestframework-simplejwt
PyJWT

# Security Tools
bleach
django-ratelimit
django-defender
django-axes
argon2-cffi

# Security Analysis
bandit
safety

# Testing
coverage
pytest
pytest-django
pytest-cov

# Development
iniconfig
packaging
pluggy
Pygments
